@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<div class="card shadow">
				<div class="card-body text-center">
					<img src="~/img/myrellafoto2.jpg" class="card-img-top" />
					<h4 class="card-title">Myrella Putti</h4>
					<p class="card-text">Aluna sesi/senai de DEV.</p>
					<div>
						<a href="https://github.com/seuusuario" target="_blank" class="btn btn-outline-dark me-2">
							<i class="bi bi-github"></i> GitHub
						</a>
						<a href="https://instagram.com/in/seuusuario" target="_blank" class="btn btn-outline-primary">
							<i class="bi bi-instagram"></i> Instagram
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




